.container1_notification {
    display: flex;
    width: 100%;
    height: 100%;  
    background-color: rgb(217, 217, 217);
}
.notification_section {
    width: calc(100vw - 180px);
}


.header {
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center the items */
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 180px;
    background-color: #512da8;
}

.header1 {
    margin: 0;
    padding: 0;
}


