@tailwind base;
@tailwind components;
@tailwind utilities;
#message-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    font-family: inter;

    height: 90vh;
    width: 56.975rem;

}
#message-history-data {
    display: flex;
    flex-direction: column;
}
#message-component {
    display: flex;

    width: 44rem;

    margin: 2rem;
}
.message-history-avatar {
    width: 3rem;
    height: 3rem;

    margin-right: 0.5rem;

    border-radius: 50%;
}
#message-data {
    font-size: 1rem;
    line-height: 1.4rem;
    display: flex;
    flex-direction: column;
}
#name-date-delete {
    display: flex;
    align-items: center;
}
#name {
    font-size: 1rem;
    font-weight: 700;

    margin-right: 0.5rem;
}
#time-stamp {
    font-size: 0.75rem;
    color:rgba(0, 0, 0, 0.733);

    margin-right: 0.5rem;

}
#delete {
    color: red;
}
#message-history-input {
    background-color: #522da8d8;
    
    color: white;

    width: 44rem;
    padding: 1rem;

    border-radius: 1.2rem;
    border-style: none;
}
#message-history-input::placeholder {

    color: white;

}