body{
    background-color: rgb(217, 217, 217);
}

.container1_profile {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.profile_section{
    width: calc(100vw - 180px); 
    height: 100%;

}

.header{
    background-color: #512da8;
    width:100%;
    height:180px;
    display:flex;
    align-items: center;
   
}

h1 {
    font-size: 50px;
    color:white;
}
.big_card{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}
.card{
    margin:60px;
    width:50%;
    height:400px;
    box-shadow: 0 4px 8px rgba(20, 19, 19, 0.3); 
  
}
.avatar{
    display:flex;
    flex-direction: row-reverse; 
    height:100px;
    justify-content: space-between;
    align-items: center;
    background-color: #512da8;

    
  
}
/* Profile.module.css */

.profile_image {
    display: flex;
    width:80px;
    height:80px;
    border-radius: 50%;
    margin: 20px 30px;
  
   
  }
  

.editButton {
    background-color: rgb(137, 194, 72);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height:40px;
    margin: 20px 30px;

  }
  
  /* Hide the default file input */
  .hiddenInput {
    display: none;
  }

  .ProfileForm{
    display:flex;
    


  }
  
.info {
    display: flex;
    flex-direction: column;
   
   
}

/* Use commas to separate selectors */
#username, #email, #password, #newPassword {
    width: 200px;
    height: 50px;

}


#saveChanges {
    border-radius: 20px;
    padding: 20px;
    background-color:#512da8;;
    font-size: larger;
    border: 2px solid white;
    
  }
  
.save_button{
 
    display: flex;
    margin: 20px auto;
    


}
.customIconStyle {
    width: 100px;
    height: 100px;
    cursor: pointer;
}