.home {
  background-color: rgb(217, 217, 217);
  width:99.99vw;
  height:99.99vh;
  display:flex;
  justify-content: space-between;

}
/* .headerContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:100vw;
  background-color: rgb(217, 217, 217);
  color:black;
  font-size: large;
  border-bottom: 2px solid black;
}
.search{
  margin:20px;
  height:30px;
}
.plusIconStyle{
  margin-top:13px;



} */
/* .mainContainer {
  display: flex;
  height:calc(100vh - 100px);
} */

.leftSide{
  display:flex;
  flex-direction: column;
  height:100%;
  border-right: 2px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.icon_function{
  display:flex;
  flex-direction: column-reverse;
  gap:30px;
  margin-top: 1rem;
}
.userIconStyle,
.settingIconStyle{
  width:50px;
  height:50px;
  cursor:pointer;


}


/* .left_top{
  display:flex;

}
.plusIconStyle{
  width:40px;
  height:40px;
} */
.MiddleSide{
  display:flex;
  flex-direction: column;
  width:900px;
  justify-content: space-between;

}
/* .MiddleSide_bottom{
  display:flex; 
  width:100%;
  padding: 20px 20px;
  gap:20px;

} */
/* .MiddleSide_top{
  display:flex;
  flex-direction: column;



} */
.messageWindow {
  overflow-y: scroll;
  max-height: 90vh;
}
.message {
  /* width:40rem; */
}


.Profile_Chat{
  display:flex;
  justify-content: flex-end;
  margin:20px;

}
.text_box_input {

  background-color: white;
  width: 100%;
  height:50px;
  padding: 1rem;
  border-radius: 1.2rem;
  border-style: none;
  
}

.customIconStyle{
  width:50px;
  height:50px;

  
}
.profile_image,
.avatarImage{
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left:20px;

}

#membersBar {
  border-left: 2px solid black;
  width: 14rem
}
.member {
  display: flex;
  align-items: center;
  margin: 1rem;

}
.memberName{
  margin-left: 1rem;
}

.displayName{
  
}
.container1_RightSide{
  display:flex;
  width:200px;


}
