body {
  background-color: rgb(217, 217, 217);
}

.privacy-container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 180px);
  height: 100vh;
  align-items: center;
  justify-content: start;
}

h1 {
  font-size: 50px;
  color: white;
  background-color: #512da8;
  width: 100%;
  padding: 65px 0;
  margin-bottom: 20px;
  text-align: center;
}

form {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(20, 19, 19, 0.3);
  padding: 40px;
  margin-bottom: 60px;
}

section {
  margin-botttom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

select, input[type="checkbox"] {
  height: 40px;
  margin-top: 5px;
}

button {
  background-color: #512da8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  display: block;
  margin: 20px auto;
}

a {
    color: #512da8;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
